@import url('https://fonts.googleapis.com/css2? family= Dosis:wght@300;400;500;600 & Familie = Fuzzy+Bubbles:wght@400;700 & display=swap' );



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}
:root{
    --mainColor:#3D0814;
    --mainColor:#E7F9A9;
    --mainColor:#C6B38E;
    --mainColor:#140bb1;
    --mainColor:#efefef;
    --mainColor:#000;
    --wihtcolor:#fff;
    --mainColor:#ccc;

}
body{
    height: 150vh;
}

/* --------------------header----------- */

/* -----------#contact------------- */
#contact{
    position: relative;
    width: 100%;
    min-height: 100vh;
    flex-direction: column; 
    background-image: url(/imges2/gogel.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    overflow: auto;
}

header{
    width: 100%;
    height: 10vh;
    background-color:rgba(100,100,100,0.4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 80px;
    backdrop-filter:blur(10px); 
    position:fixed;
    z-index: 1;
    text-align: center;
}
.logo span{
    color: orange;
    font-size: 3rem;
}


header nav ul{
  display: flex;
}

header nav ul li{
    display: flex;
    list-style: none;
    margin-left: 2rem;
}

header nav ul li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #ffff;

}

header nav ul li a:hover{
    color: orange;
}
header nav ul li a i{
    margin-right: 01rem;
    color: orange;
}

/* --------form-container--------------- */

.form-container{
    position: absolute;
    top: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-top: 30px; */
}



.form-container .detales{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.form-container .detales h1{
    font-size: 6rem;
    letter-spacing: 2px;
    padding-bottom: 1.5rem;
    text-shadow: 0px 10px 10px #000;
}

.form-container .detales h3{
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 300;
    padding-bottom: 1rem;
}
.form-container .detales  p{
    font-weight: 500;
    font-size: 2rem;
}

 .form-container .detales #more{
    text-decoration: none;
    color: #fff;
    background:rgb(255, 166, 0) ;
    width: 200px;
    margin-top: 2rem;
    padding: 5px 0;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
} 


.inputInfor{
    width: 35%;
    background-color: #fff;
    padding: 40px;
    color: #000;
    border-radius: 4px;
    margin-bottom: 2rem;
    text-align: left;
}

.inputInfor h4{
    text-transform: capitalize;
}

.inputInfor .inputBox{
    width: 100%;
    font-weight: 300px;
}  




.inputInfor .inputBox input, textarea{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 5px;
    margin: 10px 0px;
    /* padding: 5px 0px;
    margin: 10px 0; */
    border-bottom: 1px solid #000;
    position: relative;
    font-size: 1rem;
} 

.inputInfor .inputBox input[type="submit"]{
    width: 100px;
    background: orange;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    border: none;
} 


.inputInfor .inputBox input[type="submit"]:hover{
    background:rgba(255, 166,16, 0.9);;
}



/* -------------Ländern---------------- */

#Ländern{
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 100px 0;
    overflow: auto;
    cursor: pointer;
    margin-bottom: 100px;
}

#Ländern .wapper{
    width: 80%;
    margin: 0 auto;
}




#Ländern .wapper #About{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom:20px ;
    font-family: 'Courier New', Courier, monospace;
}

.wapp-titel a{
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 2rem;
}

.wapp-titel {
    text-align: center;
}

.Ländern .wapper .wapp-titel  h6{
  font-size: 2rem;
  padding-bottom: 30px;
}

#parent{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.parent-imge {
    width: 50%;
}
.parent-imge img{
    width: 100%;
   border-radius: 20px 20px 20px 20px;
    margin-left: -20px;
}

.haupt-parent{
    width: 50%;
    position: relative;
}

.europa-parent a {
    text-decoration: none;
    color: orange;
    font-size: 2rem;
    transition: all 0.5s ease;
}
.europa-parent a:hover{
    color: #000;
}



.europa-parent p{
    line-height: 30px;
}


.haupt-parent .fa-solid{
    margin-left: 20px;
    font-size: 2rem;
    animation-duration: 6s;
    animation-name: imad;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

@keyframes imad{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.süd-parent a{
    text-decoration: none;
    color: orange;
    font-size: 2rem;
    transition: all 0.5s ease;
}

.süd-parent a:hover{
    color: #000;
}

.süd-parent p{
    line-height: 30px;
}

/* ----------------aside-------------------- */

aside{
    width: 100%;
    padding: 100px 50px;
    overflow: auto;
    margin: 100px 0;
}
.main {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.main .teckt{
    margin: 0 10px;
    background: #eee; 
    /* box-shadow: 0 0 5px #000; */
    border: none;
    outline: none;
}

.main .teckt img:hover{
    transform: translateY(-15px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main .teckt img{
    width: 100%;
    transition: all 0.5s ease;  
}

.teckt .teckt-text{
    padding: 10px;
}
.teckt .teckt-text h1{
    font-size: 1.4rem;
}
.teckt .teckt-text p{
    font-size: 0.8rem;
}

.teckt .teckt-text button{
    width: 30%;
    padding: 5px;
    border-radius: 8px;
    background: rgb(255, 166, 0);
    outline: none;
    border: none;
    font-size: 0.8rem;
    text-align: center;
}
.teckt .teckt-text button:hover{
   background: rgba(206, 148, 41, 0.656);
}
/* -------------probe--------------------------- */

.probe{
    width: 100%;
    height: 30vh;
    background-image: url(/imges/nsel2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* -------------border------------------- */

 .preise{
    width: 100%;
    padding: 100px 50px;
    overflow: auto;

} 
.preise .preise-titel{
    width: 100%;
    text-align: center;
    padding: 100px 0;
    overflow: auto;

}

.preise .preise-titel h2{
    font-size: 2rem;
    font-weight: 500;
    color: orange;
}


.preise .preise-titel .p-one{
    color: #140bb1;
    font-size: 3rem;
}

.preise .preise-titel .btto{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    
}

.preise .preise-titel .btto .btn-one{
    border-right: none;
    padding: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.preise .preise-titel .btto .btn-tow{
    border-left: none;
    padding: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: orange;
}


.border{
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background: rgba(200,200,200,0.2);
    margin: 0 auto;
    backdrop-filter: blur(100px);
} 



.border .border-haupt{
    width: 400px;
    padding: 20px;
    border: 1px solid rgb(178, 178, 178);
    margin: 0 10px;
    transition: all 0.5s ease; 
}


.border .border-haupt:hover{
    border: 2px solid orange;
    transform: translateY(-3px);
}



.border .border-haupt #border-one{
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #000;
}
.border .border-haupt #border-tow{
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #000;
}

.border .border-haupt .angebot span{
    color: green;
    font-weight: 500;
    font-size: 1.3rem;
}
.border .border-haupt .angebot  samp{
    color: red;
    font-weight: 500;
    font-size: 1.3rem;
}

.border .border-haupt .angebot .submit{
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    color: orange;
    border: 1px solid orange;
    background: transparent;
}

.border .border-haupt .angebot .submit:hover{
    background: rgba(255, 166, 0, 0.33);
}



/* ---------Home-Card------------ */

.Home-Card{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 200px 20px;
    overflow: auto;
    position: relative;
  
}

.Home-Card #titel{
    padding-bottom: 50px;
}

.Home-Card #titel h1{
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 500;
    color: orange;
}
.Home-Card #titel #p-one{
    font-size: 2.4rem;
    color: #161361;
}



.Home-Card .imges{
    display: flex;
    justify-content: center;
}

.Home-Card .imges img{
    width: 100%;
    border-radius: 5px;
}

.Home-Card .imges .bitar{
    width: 100%;
    margin: 0 13px;
    background: #f0f0f0f0;
    
}
.Home-Card .imges .bitar h3{
    padding: 10px 0;
    text-transform: capitalize;
    position: relative;
}
.Home-Card .imges .bitar h3::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 0;
    height: 2px;
    background: orange;
    transition: all 0.8s ease;
}
.Home-Card .imges .bitar h3:hover::after{
    width: 90%;
}


.imges-icon{
    width: 100%;
    padding-bottom: 10px;  
}

.imges-icon i{
     margin-left: 0.5rem; 
    font-size: 0.8rem;
    padding: 10px;
    background: #C6B38E;
    color: #fff;
    border-radius: 20px;
    transition: all 0.7s ease;
    
}

.imges-icon i:hover{
    transform: translateY(-5px);
}
 
.imges-icon  #fac:hover{
    transform: translateY(-5px);
     background: #140bb1;
}

.imges-icon  #linkend:hover{
    transform: translateY(-5px);
     background: #140bb1;
}

.imges-icon #what:hover{
    transform: translateY(-5px);
     background: green;
}

.imges-icon #inst:hover{
    transform: translateY(-5px);
    background:  rgb(195, 40, 40);
}




/* -------------maps -------------------------- */

.maps{
    max-width: 100%;
    margin: 0 auto;
}
.maps-one{
    width: 100%;
} 


/* -------------footer------------ */



footer{
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: rgba(97, 105, 70,0.5);
    overflow: auto;
    position: relative;
}

.footer-fist{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px ;

}

.footer-fist .quen h2{
    position: relative;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.footer-fist .quen h2::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    bottom: -10px;
    left: 0;
    background-color:#fff;
}

.footer-fist .quen p{
    color: #0009;
}


.quen li{
    list-style: none;
}


.quen-tow{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}


.quen-tow li a{
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: inline-block;
    display: grid;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.quen-tow li a:hover{
    transform: translateY(-10px);
    background: #ccc;
}

.mallo li{
    list-style: none;
}

.mallo li a{
    color: #0009;
    text-decoration: none;
    padding-bottom: 0.6rem;
    display: inline-block;
    transition: all 0.5s ease;
}

.mallo li a:hover{
    color: #fff;
}



.Quen-info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    cursor: pointer;
}


.Quen-info .fa-solid{
    color: #fff;
}

.Quen-info a{
    text-decoration: none;
    color: #000;
}

.Quen-info a:hover{
    color: #ccc;
}



/* ---------coyrightText---------- */

.coyrightText{
    width: 100%;
    background-color: rgba(97, 105, 70,0.9);
    padding: 8px 0;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;

}

#footer-icon i {
    position: absolute;
    right: 1rem;
    font-size: 2rem;
    color: #000;
}



/*------------ mak media ----------- */
/* -----home card-------- */
@media (max-width:1000px){
    .Home-Card .imges{   
        justify-content: center;
        flex-direction: column;
       margin: 10px 0;
    }
    #parent{
        width: 100%;
        flex-direction: column;
      
     }

     .bitar .imges-icon{
        display: flex;
        justify-content: center;
        align-items: center;
     }

        /* -------media- aside-------------------------------- */


        .main {
            width: 100%;
            flex-direction: column;
        }
    
        .main .teckt{
            margin: 20px 20px; 
            background: #eee;
        }
     
}













/* ------.form-container-------- */

@media (max-width:600px){






    .form-container{
        flex-direction: column;
    }

    .form-container{
        width: 100%;
        text-align: center;
        padding: 10px 50px;
     }
     .form-container .detales h1{
        font-size: 6rem;
        letter-spacing: 2px;
        padding-bottom: 1.5rem;
        padding-top: 4rem;
    }



    #contact .row h3{
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        color: rgb(0, 0, 0);
        text-transform: uppercase;   
    }




    #contact .row  p{
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
        color: #000;
    }
    .form-container .detales h3{
        font-size: 1rem;
        font-weight: 500;
        padding-bottom: 1rem;
       
    }
    .inputInfor{
        width: 100%;
        margin-top: 10px;
    }
   

 


}


@media (max-width:866px){

    footer{
        padding: 40px;
    } 
    .footer-fist {
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    header {
        background: #000;
        backdrop-filter: blur(10px);
        height: 350px;
        position: absolute;
        top: -50px;
        padding-bottom: 30px;
        position: fixed;
    }

    header nav ul{
        padding-top: 100px;   
        flex-direction: column;
     }
     header nav ul li{
        display: flex;
     }

     header nav ul li a{
        color: rgb(255, 255, 255);
        font-size: 1rem;
     }

   


}

@media(max-width:560px){
/*  ----------.form-container .detales --------------- */
.form-container .detales h1{
    font-size: 4rem;
    letter-spacing: 2px;
    padding-bottom: 1.5rem;
}

.form-container .detales h3{
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 300;
    padding-bottom: 1rem;
}
.form-container .detales p{
    font-weight: 500;
    font-size: 1rem;
}

/* --------------footer------------------- */

    .footer-fist .quen h2{
        font-size: 1rem;
        font-weight: 400;
        text-transform: capitalize; 
    }
    .footer-fist .quen h2::before{
        height: 1px;
        width: 30%;
    }

    .footer-fist .quen p{
        font-size: 0.7rem;
    }
    .quen-tow li a{
        width: 20px;
        height: 20px;
    }

    .mallo li a{
        font-size: 0.8rem;
    }
    


    .footer-fist {
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .Quen-info span{
        font-size: 0.8rem;
    }
    .Quen-info a{
    font-size: 0.7rem;
   }

   /*-------------border  --------------------*/
   .border{
    width: 100%;
    display: flex;
    flex-direction: column;
} 


.border .border-haupt{
    width: 200px;
    padding: 20px;
    margin: 10px 10px;
    border: 1px solid rgb(178, 178, 178);
}


       

   /* -------------------   .coyrightText-------------- */
   .coyrightText{
    font-size: 1rem;
    font-weight: 900;
    text-shadow: 5px 10px 10px #0009;
   }




   
}

@media(max-width:420px){
    .coyrightText{
        font-size: 0.7rem;
        font-weight: 900;
        text-shadow: 0px 5px 10px #0009;
        padding: 10px 40px ;
       }
}


