// colors for the different types of messages
$whitColor: #ffff;
$PrimaryColor: hsl(26, 93%, 50%);
$HoverColor: hsl(26, 90%, 24%);
$whiteColor: hsl(0, 0%, 100%);
$blackColor: hsl(0, 0%, 18%);
$textColor: hsl(240, 1%, 48%);
$whitColorDeam: hsl(0, 0%, 96%);
$greyBg: hsl(0, 0%, 96%);
$greyText: hsl(0, 0%, 64%);
$bgHeader: #e6e6e6;
$organeColor: #ffa500;
$blueColor: #2323ff;
$inputColor: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
$boxShadow:#0000;
