.footer {
  height: 10vh;
  background-color: #e89b03;
  display: flex;
  justify-content: center;
  align-items: center;
  .f-contanet {
    display: flex;
    align-items: center;

    a {
      color: rgb(255, 255, 255);
      letter-spacing: 1px;
    }
    .f-icons {
      cursor: pointer;
      padding: 1rem;
      margin-left: 1rem;
 
    }
    .icon{
        padding-left: 1rem;
        font-size: 30rem;       
    }
  }
}
