@import "./Colors.scss";

.portfolio {
  width: 80%;
  margin: 3rem auto;
      margin-top: 4rem;
  .headingPor {

    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem 0;
    .head-title {
      font-size: 3rem;
      font-weight: bold;
      color: $blackColor;
    }
    .main-title {
      color: $organeColor;
      font-size: 3.5rem;
      font-weight: bold;
    }
  }
  //  slider container ==========>
  .slider-container {
    width: 100%;
    margin: 0 auto;

    .slick-prev {
      color: $blackColor;
    }
    .slick-next {
      color: $blackColor;
    }
    .slick-slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .card {
      text-align: center;
      h3 {
        margin: 2rem 0;
        color: $organeColor;
        text-shadow: 0px 0px 20px rgba(2, 2, 2, 0.407);
      }
      img {
        width: 200px;
        height: 200px;
        border-radius: 0.4rem;
      }
    }
    
  }
}
